
<!-- MISTERPLAN PLUGIN {{MRPLAN_PLUGIN_VERSION}}-->
 <script src="https://mrplan.io/scr/modulos/budget/lib/TBudgetV2Inc.php?activehead=1&source_plugin=MrPlanPlugin&web_plugin={{MRPLAN_WORDPRESS_PERMANLINK|url_encode}}"></script>
 <script src="https://mrplan.io/scr/modulos/budget/lib/class.TBudget.min.js?t={{now|date('u')}}&source_plugin=MrPlanPlugin&web_plugin={{MRPLAN_WORDPRESS_PERMANLINK|url_encode}}"></script>
<div class="MrPlanPlugin_CapaConfirmacion">
    <div id="" class="elp_mrp_contenedor">
        <div class="elp_Contenido TBudgetV2Inc_Confirmacion_evnt">

            <div class="TMrPlanPlugin_Loading">
                <img src="{{dir_plugin}}assets/images/loading.svg">
            </div>
        </div>
    </div>
</div>